<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="contenedor">
    <h1>Bienvenidos a <%= title %></h1>
    <p>El portal donde podras crear sus propios juegos</p>
    </div>
  </body>
</html>
