<p>
<label for="obs" class="rem">Observaciones:</label>
<input type="text" id="obs" name="cuestionario[observaciones]" value="<%= cuestionario.observaciones %>" />
</p>
<p>
<label for="fech" class="rem">Fecha fin:</label>
<input type="text" id="fech" name="cuestionario[fechaFin]" value="<%= cuestionario.fechaFin %>" />
</p>
<a href="/cuestionarios"><button type="button">Cancelar</button></a>

<input type="submit" value="Guardar">

