<table border="1px" width="400" style="margin:0 auto;">
<caption><h2>Cuestionarios</h2></caption>
<tr><td>Creador</td><td>Observaciones</td><td>Fecha</td></tr>
<% var i; for (i = 0 ;i < cuestionarios.length ; i++){ %>
    <tr>
		<tr>
		<td width="10"><%= cuestionarios[i].Profesor.nombre %></td>
        <td width="25%"><%= cuestionarios[i].observaciones %></td>    
        <td width="40%"><%= cuestionarios[i].fechaFin.toDateString() %></a></td>
		<%if(session.user){%>
		<td>
			<form method="post" action="cuestionarios/<%= cuestionarios[i].id %>?_method=delete">
			<button type="submit" onClick="return confirm('Borrar: <% cuestionarios[i].observaciones %>');">Borrar</button>
		</form>
	</td>
	</tr>	
	<% } %>
	</tr>
<% } %>
</table>