<label for="profesor" class="rem">Profesor:</label>
<input type="text" id="profesor" name="observacion[profesor]" value="<%= observacion.profesor %>" /> <p>
<label for="cuestionario" class="rem">Cuestionario:</label>
<input type="text" id="cuestionario" name="observacion[cuestionario]" value="<%= observacion.cuestionario %>" /> <p>
<label for="observacion" class="rem">Observación:</label>
<input type="text" id="usuario" name="observacion[observacion]" value="<%= observacion.observacion %>" /> <p>
<a href="/admin/observaciones"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar" />