<label for="materia" class="rem">Materia:</label>
<input type="text" id="materia" name="materia[materia]" value="<% materia.materia %>" /> <p>
<label for="ensenanza" class="rem">Enseñanza:</label>
<input type="text" id="ensenanza" name="materia[ensenanza]" value="<% materia.ensenanza %>" /> <p>
<label for="curso" class="rem">Curso:</label>
<input type="text" id="curso" name="materia[curso]" value="<% materia.curso %>" /> <p>
<a href="/materias"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar" />