<table border="1" width="350" style="margin-left:300px;">
	
	<thead style="font-weight:bold;">
	<tr><td colspan="3">Asignatura</td></tr>
	<tr>
		<td>
		Materia
		</td>
		<td>
		Enseñanza
		</td>
		<td>
		Curso
		</td>
	</tr>
	</thead>
	<tr>
		<td>
		<%=  materia.materia %>
		</td>
		<td>
		<%=  materia.ensenanza %>
		</td>
		<td>
		<%=  materia.curso %>
		</td>
	</tr>
</table>