<p>
<label for="nom" class="rem">Nombre:</label>
<input type="text" id="nom" name="alumno[nombre]" value="<%= alumno.nombre %>" />
</p>
<p>
<label for="ape1" class="rem">Apellidos1:</label>
<input type="text" id="ape1" name="alumno[apellidos1]" value="<%= alumno.apellidos2 %>" />
</p>
<p>
<label for="ape2" class="rem">Apellidos2:</label>
<input type="text" id="ape2" name="alumno[apellidos2]" value="<%= alumno.apellidos2 %>" />
</p>
<p>
<label for="email" class="rem">E-mail:</label>
<input type="text" id="email" name="alumno[e-mail]" value="<%= alumno.e-mail %>" />
</p>
<a href="/quizes"><button type="button">Cancelar</button></a>

<input type="submit" value="Guardar">
